# URL Backend API Ungkepan SN
# 1. php artisan serve:
VITE_API_URL=http://127.0.0.1:8000

# 2. Laragon virtual host:
# VITE_API_URL=http://ungkepan-sn-backend.test

# 3. Custom virtual host:
# VITE_API_URL=http://ungkepan-sn-api.test

# 4. Laragon localhost path:
# VITE_API_URL=http://localhost/ungkepan-sn-backend/public
